<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/popper.js/popper.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="jumbotron bg-dark text-center text-light"><h1>Contact Manager</h1></div>

    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
